.home-container{
    display: flex;
    flex-direction: row;
    background-color: #1D1B1B;
}
.left-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.right-container{
    display: flex;
    flex-direction: column;
    flex: 2;
}