.navigation-bar-container{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.navigation-bar-header {
    display: flex;
    flex: 1;
}
.navigation-bar-menu {
    display: flex;
    flex: 1;
}