// .item1 {
//   grid-area: header;
//   background-color: #1D1B1B;
//   width: 100%;
// }
// .item2 {
//   grid-area: sidebar;
//   background-color: #181717;
// }

// .item3 {
//   grid-area: main;
//   background: #1D1B1B;
//   height: 100%;
// }

// .layout-wrapper {
//   width: 100%;
//   background: #1D1B1B;
//   display: grid;
//   grid-template-areas:
//     "sidebar header"
//     "sidebar main";
//   grid-template-columns: 250px 1fr;
//   grid-template-rows: 50px 1fr;
//   height: 100vh;
// }

.layout-wrapper {
  display: flex;
  width: 100%;
  background: #1D1B1B;
  min-height: 100vh;
  flex-direction: row;
  
}
.item-left {
  display: flex;
  width: 250px;
  background-color: #181717;

}
.item-right{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: #1D1B1B;
}
